@import './StyleDepend/mReset.css';
.index-wrap {
    min-height: 100vh;
    padding-top: 80px; // padding-bottom: 225px;
}

/**********导航*****************/

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    height: 80px;
    line-height: 80px;
    user-select: none;
    background-color: #3784fa;
    .header-b {
        width: 1400px;
        margin: 0 auto;
        height: 80px;
        background-color: #3784fa;
        .hd-left {
            float: left;
        }
        .hd-right {
            float: right;
            line-height: 80px;
        }
        .logo-b {
            display: inline-block;
            width: 110px;
            height: 50px;
            padding: 4px 10px;
            border-radius: 30px;
            line-height: 80px;
            margin-right: 120px;
            box-sizing: content-box;
            vertical-align: middle;
            cursor: pointer;
            background-color: #fff;
            .log-img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .nav-list {
            float: right;
            position: relative;
            line-height: 80px;
            .list-b {
                position: relative;
                overflow: hidden;
                font-size: 0;
                .list-item {
                    float: left;
                    padding: 0 26px;
                    height: 80px;
                    font-size: 0;
                    cursor: pointer;
                    .nav-link {
                        display: inline-block;
                    }
                    .text {
                        font-size: 25px;
                        color: #fff;
                    }
                }
                .link-b-bar {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 102px;
                    height: 3px;
                    background-color: #fff;
                }
            }
        }
        .search-b {
            display: inline-block;
            vertical-align: middle;
            margin-right: 70px;
            .search-wrp {
                width: 400px;
                height: 48px;
                padding: 0 5px 0 15px;
                line-height: 48px;
                border-radius: 24px;
                background-color: #2869db;
            }
            .search-item {
                display: inline-block;
                width: 86%;
                line-height: 48px;
                .sear-ipt {
                    display: inline-block;
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    vertical-align: middle;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    font-size: 25px;
                    color: #fff;
                }
                .sear-ipt::placeholder {
                    font-size: 25px;
                    color: #fff;
                }
            }
            .search-icon {
                display: inline-block;
                width: 48px;
                height: 48px;
                vertical-align: middle;
                cursor: pointer;
                .search-img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .msg-icon {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-right: 70px;
            cursor: pointer;
            .msg-num {
                position: absolute;
                top: 8px;
                left: 34px;
                display: inline-block;
                padding: 3px;
                line-height: 16px;
                background-color: #feca52;
                border-radius: 4px;
            }
            .num-text {
                display: inline-block;
                color: #fff;
            }
            .msg-img {
                width: 60px;
                height: 60px;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .login-reg {
            float: right;
            .btn-b {
                .btn-text {
                    float: right;
                    margin-right: 30px;
                    cursor: pointer;
                    a {
                        .text {
                            font-size: 25px;
                            color: #fff;
                        }
                    }
                }
                .user-avatar {
                    display: inline-block;
                    overflow: hidden;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    vertical-align: middle;
                }
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/**********首页轮播1*****************/

.index-swiper-b {
    #swiper1 {
        position: relative;
        height: 408px;
    }
    .swiper-wrapper {}
    .swiper-slide {}
    .slide-img {
        position: relative;
        width: 100vw;
        height: 0;
        padding-bottom: 22%;
    }
    .img-show {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: #e4e4e6;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: #fff;
    }
}

/**********首页视频列表标题*****************/

.main-title {
    .tit-bot,
    .tit-top {
        text-align: center;
    }
    .top-text {
        position: relative;
        display: inline-block;
        line-height: 34px;
        font-size: 30px;
        font-family: ' MicrosoftYaHei-Bold';
    }
    .top-text::before {
        content: '';
        position: absolute;
        top: 50%;
        right: -70px;
        z-index: 99;
        width: 60px;
        height: 2px;
        margin-top: -1px;
        background-color: #808080;
    }
    .top-text::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -70px;
        z-index: 99;
        width: 60px;
        height: 2px;
        margin-top: -1px;
        background-color: #808080;
    }
    .bot-text {
        line-height: 32px;
        font-size: 16px;
        color: #808080;
    }
}

/**********首页视频列表一*****************/

.main-video-b {
    padding-top: 20px;
    .video-list-b {
        .video-list {
            overflow: hidden; // min-height: 568px;
            .video-item {
                float: left;
                position: relative;
                padding: 0 10px;
                width: 25%;
                margin-bottom: 15px;
            }
            .video-sec {
                .video-link {
                    background-color: #fff;
                }
            }
            .video-isFree {
                position: absolute;
                top: 10px;
                right: 16px;
                z-index: 99;
                display: inline-block;
                padding: 0 6px;
                margin-top: 0;
                line-height: 30px;
                border-radius: 15px;
                box-sizing: content-box;
                color: #fff;
                background-color: #3784fa;
            }
            .video-link {
                overflow: hidden;
                display: inline-block;
                width: 100%;
                border-radius: 8px;
                background-color: #f3f4f8;
            }
            .les-img {
                height: 200px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                .img-det {
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-color: rgb(105, 105, 105);
                }
            }
            .item-bot {
                padding-bottom: 10px;
                .les-title {
                    padding: 0 5px;
                    line-height: 2;
                }
                .text-det {
                    width: 100%;
                }
            }
            .les-text-one {
                padding: 0 5px;
                .icon-list {
                    height: 30px;
                    line-height: 30px;
                }
                .les-des {
                    display: inline-block;
                    width: 40%;
                    color: #ddd;
                }
                .teacher-det {
                    float: left;
                    line-height: 30px;
                    margin-right: 10px;
                }
                .teacher-ava {
                    display: inline-block;
                    width: 27px;
                    height: 27px;
                    vertical-align: middle;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .teacher-text {
                    display: inline-block;
                    max-width: 90px;
                    vertical-align: middle;
                }
                .icon-item {
                    float: left;
                    width: 24px;
                    height: 24px;
                    margin-top: 4px;
                    margin-right: 8px;
                    vertical-align: middle;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;
                    }
                }
                .lower-icon {
                    margin-top: 2px;
                }
                .text-item {
                    float: left;
                    margin-right: 4px;
                    color: #feca52;
                }
                .video-time {
                    float: right;
                    .time-text {
                        color: #888;
                    }
                }
                .icon-tag {
                    float: left;
                    display: block;
                    width: auto;
                    padding: 4px 6px;
                    height: auto;
                    margin-top: 0;
                    line-height: 20px;
                    border-radius: 15px;
                    color: #fff;
                    background-color: #3784fa;
                }
            }
        }
    }
}

/**********首页产看更多*****************/

.see-more {
    margin-top: 30px;
    height: 30px;
    text-align: center;
    .more-link {
        display: inline-block;
        padding: 6px 10px;
        line-height: 30px;
        border-radius: 6px;
        background-color: #3784fa;
        .text {
            display: inline-block;
            font: 18px;
            vertical-align: middle;
            color: #fff;
        }
    }
    .more-icon {
        display: inline-block;
        width: 13px;
        height: 13px;
        vertical-align: middle;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

/**********首页footer*****************/

.pub-footer {
    // margin-top: -225px;
    // font-size: 0;
    background-color: #282828;
    .footer-b {
        width: 1200px;
        margin: 0 auto;
        background-color: #282828;
        .top {
            overflow: hidden;
            height: 130px;
            .top-l {
                float: left;
                .left-list {
                    line-height: 130px;
                    overflow: hidden;
                }
                .list-item {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 50px;
                }
                .link-item {
                    .link-b {}
                    .link-icon {
                        display: inline-block;
                        margin-right: 4px;
                        vertical-align: middle;
                    }
                    img {
                        display: inline-block;
                    }
                    .link-text {
                        display: inline-block;
                        color: #8a8a8a;
                    }
                }
            }
            .bot-right {
                float: right;
                line-height: 130px;
                .link-blog {
                    float: right;
                    a {
                        display: inline-block;
                    }
                    .blog-img {
                        padding: 0 20px;
                        img {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .bot {
            line-height: 94px;
            height: 95px;
            text-align: center;
            border-top: 1px solid #333;
            .bot-text {
                color: #8a8a8a;
            }
        }
    }
}

/**********视频详情路径*****************/

.page-link-pn {
    margin: 20px 0;
    .page-link {
        width: 1200px;
        margin: 0 auto;
        span {
            display: inline-block;
            padding: 0 4px;
            font-size: 14px;
            color: #808080;
        }
        span:last-child {
            color: #3784fa;
        }
    }
}

/*******视频详情 评分弹窗***********/

.star-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-tc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 30px;
}

.pj-btn-b {
    padding: 0 40px;
    margin-bottom: 20px;
    text-align: center;
    img {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }
}

.pj-btn {
    width: 100%;
    height: 42px;
    line-height: 42px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #feca52;
    color: #ffff;
    cursor: pointer;
}

.stars-b {
    position: relative;
    height: 20px;
    width: 110px;
    margin-right: 40px;
    .stars-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 110px;
        height: 100%;
        .stars {
            width: 100%;
        }
    }
    .stars-bot {
        position: absolute;
        top: 0;
        left: 0;
        width: 110px;
        height: 100%;
    }
    .img-star {
        display: inline-block;
        width: 110px;
    }
    .stars {
        height: 100%;
        background-size: 110px 20px;
        background-position: left;
        background-repeat: no-repeat;
    }
}

.stars-text {
    .text-con {
        color: #5b5858;
    }
}

/*******充值卡片 ***********/

.charge-list-bx {
    margin-top: 20px;
    padding: 0 176px;
    .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card-item {
            width: 49%;
            margin-bottom: 10px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            border: solid 1px #3783fa;
            .card-det {
                dd {
                    line-height: 2;
                    color: #3783fa;
                }
                .money-num {
                    line-height: 2;
                    color: #666666;
                }
            }
            .zs-text {
                font-size: 14px;
                line-height: 2;
                color: rgb(255, 109, 109);
            }
        }
        .card-item-b {
            padding: 5px 0;
            input {
                // -webkit-appearance: radio;
            }
        }
        .select {
            // border: solid 1px #3783fa;
            background-color: #3783fa;
            .card-det {
                dd {
                    color: #fff;
                }
                .money-num {
                    color: #fff;
                }
            }
            .zs-text {
                color: gold;
            }
        }
    }
}

/*******无搜索内容 ***********/

.none-text {
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: #808080;
}

/*******分页组件 ***********/

.page-slide-wrap {
    text-align: center;
    #pageSlide {
        display: inline-block;
        .layui-laypage-em {
            background-color: #3784fa !important;
        }
        .layui-laypage a:hover {
            color: #3784fa !important;
        }
    }
}

/*******内容加载文字 ***********/

.loading-bx {
    text-align: center;
    .loading-text {
        text-align: center;
        font-size: 18px;
        color: #888;
    }
}

/*******微信支付 ***********/

.charge-wechat-bx {
    text-align: center;
    .code-bx {
        display: inline-block;
        margin-top: 15px;
        padding: 5px;
        border: 2px solid rgb(13, 212, 13);
        .code-img {
            width: 180px;
            height: 180px;
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .code-text {
        line-height: 2;
        .text {
            font-size: 20px;
        }
    }
}