@import 'StyleDepend/mReset.css';
.index-wrap {
  min-height: 100vh;
  padding-top: 80px;
}
/**********导航*****************/
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  height: 80px;
  line-height: 80px;
  user-select: none;
  background-color: #3784fa;
}
.header-nav .header-b {
  width: 1400px;
  margin: 0 auto;
  height: 80px;
  background-color: #3784fa;
}
.header-nav .header-b .hd-left {
  float: left;
}
.header-nav .header-b .hd-right {
  float: right;
  line-height: 80px;
}
.header-nav .header-b .logo-b {
  display: inline-block;
  width: 110px;
  height: 50px;
  padding: 4px 10px;
  border-radius: 30px;
  line-height: 80px;
  margin-right: 120px;
  box-sizing: content-box;
  vertical-align: middle;
  cursor: pointer;
  background-color: #fff;
}
.header-nav .header-b .logo-b .log-img {
  display: block;
  width: 100%;
  height: 100%;
}
.header-nav .header-b .nav-list {
  float: right;
  position: relative;
  line-height: 80px;
}
.header-nav .header-b .nav-list .list-b {
  position: relative;
  overflow: hidden;
  font-size: 0;
}
.header-nav .header-b .nav-list .list-b .list-item {
  float: left;
  padding: 0 26px;
  height: 80px;
  font-size: 0;
  cursor: pointer;
}
.header-nav .header-b .nav-list .list-b .list-item .nav-link {
  display: inline-block;
}
.header-nav .header-b .nav-list .list-b .list-item .text {
  font-size: 25px;
  color: #fff;
}
.header-nav .header-b .nav-list .list-b .link-b-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 102px;
  height: 3px;
  background-color: #fff;
}
.header-nav .header-b .search-b {
  display: inline-block;
  vertical-align: middle;
  margin-right: 70px;
}
.header-nav .header-b .search-b .search-wrp {
  width: 400px;
  height: 48px;
  padding: 0 5px 0 15px;
  line-height: 48px;
  border-radius: 24px;
  background-color: #2869db;
}
.header-nav .header-b .search-b .search-item {
  display: inline-block;
  width: 86%;
  line-height: 48px;
}
.header-nav .header-b .search-b .search-item .sear-ipt {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  color: #fff;
}
.header-nav .header-b .search-b .search-item .sear-ipt::placeholder {
  font-size: 25px;
  color: #fff;
}
.header-nav .header-b .search-b .search-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  cursor: pointer;
}
.header-nav .header-b .search-b .search-icon .search-img {
  display: block;
  width: 100%;
  height: 100%;
}
.header-nav .header-b .msg-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 70px;
  cursor: pointer;
}
.header-nav .header-b .msg-icon .msg-num {
  position: absolute;
  top: 8px;
  left: 34px;
  display: inline-block;
  padding: 3px;
  line-height: 16px;
  background-color: #feca52;
  border-radius: 4px;
}
.header-nav .header-b .msg-icon .num-text {
  display: inline-block;
  color: #fff;
}
.header-nav .header-b .msg-icon .msg-img {
  width: 60px;
  height: 60px;
}
.header-nav .header-b .msg-icon .msg-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.header-nav .header-b .login-reg {
  float: right;
}
.header-nav .header-b .login-reg .btn-b .btn-text {
  float: right;
  margin-right: 30px;
  cursor: pointer;
}
.header-nav .header-b .login-reg .btn-b .btn-text a .text {
  font-size: 25px;
  color: #fff;
}
.header-nav .header-b .login-reg .btn-b .user-avatar {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}
.header-nav .header-b .login-reg .btn-b img {
  display: block;
  width: 100%;
  height: 100%;
}
/**********首页轮播1*****************/
.index-swiper-b #swiper1 {
  position: relative;
  height: 408px;
}
.index-swiper-b .slide-img {
  position: relative;
  width: 100vw;
  height: 0;
  padding-bottom: 22%;
}
.index-swiper-b .img-show {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #e4e4e6;
}
.index-swiper-b .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #fff;
}
/**********首页视频列表标题*****************/
.main-title .tit-bot,
.main-title .tit-top {
  text-align: center;
}
.main-title .top-text {
  position: relative;
  display: inline-block;
  line-height: 34px;
  font-size: 30px;
  font-family: ' MicrosoftYaHei-Bold';
}
.main-title .top-text::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -70px;
  z-index: 99;
  width: 60px;
  height: 2px;
  margin-top: -1px;
  background-color: #808080;
}
.main-title .top-text::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -70px;
  z-index: 99;
  width: 60px;
  height: 2px;
  margin-top: -1px;
  background-color: #808080;
}
.main-title .bot-text {
  line-height: 32px;
  font-size: 16px;
  color: #808080;
}
/**********首页视频列表一*****************/
.main-video-b {
  padding-top: 20px;
}
.main-video-b .video-list-b .video-list {
  overflow: hidden;
  min-height: 568px;
}
.main-video-b .video-list-b .video-list .video-item {
  float: left;
  position: relative;
  padding: 0 10px;
  width: 25%;
}
.main-video-b .video-list-b .video-list .video-sec .video-link {
  background-color: #fff;
}
.main-video-b .video-list-b .video-list .video-isFree {
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 99;
  display: inline-block;
  padding: 0 6px;
  margin-top: 0;
  line-height: 30px;
  border-radius: 15px;
  box-sizing: content-box;
  color: #fff;
  background-color: #3784fa;
}
.main-video-b .video-list-b .video-list .video-link {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  background-color: #f3f4f8;
}
.main-video-b .video-list-b .video-list .les-img {
  height: 200px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.main-video-b .video-list-b .video-list .les-img .img-det {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #696969;
}
.main-video-b .video-list-b .video-list .item-bot {
  padding-bottom: 10px;
}
.main-video-b .video-list-b .video-list .item-bot .les-title {
  padding: 0 5px;
  line-height: 2;
}
.main-video-b .video-list-b .video-list .item-bot .text-det {
  width: 100%;
}
.main-video-b .video-list-b .video-list .les-text-one {
  padding: 0 5px;
}
.main-video-b .video-list-b .video-list .les-text-one .icon-list {
  height: 30px;
  line-height: 30px;
}
.main-video-b .video-list-b .video-list .les-text-one .teacher-det {
  float: left;
  line-height: 30px;
  margin-right: 10px;
}
.main-video-b .video-list-b .video-list .les-text-one .teacher-ava {
  display: inline-block;
  width: 27px;
  height: 27px;
  vertical-align: middle;
}
.main-video-b .video-list-b .video-list .les-text-one .teacher-ava img {
  display: block;
  width: 100%;
  height: 100%;
}
.main-video-b .video-list-b .video-list .les-text-one .teacher-text {
  display: inline-block;
  width: 90px;
  vertical-align: middle;
}
.main-video-b .video-list-b .video-list .les-text-one .icon-item {
  float: left;
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-right: 8px;
  vertical-align: middle;
}
.main-video-b .video-list-b .video-list .les-text-one .icon-item img {
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.main-video-b .video-list-b .video-list .les-text-one .text-item {
  float: left;
  margin-right: 4px;
  color: #feca52;
}
.main-video-b .video-list-b .video-list .les-text-one .video-time {
  float: right;
}
.main-video-b .video-list-b .video-list .les-text-one .video-time .time-text {
  color: #888;
}
.main-video-b .video-list-b .video-list .les-text-one .icon-tag {
  float: left;
  display: block;
  width: auto;
  padding: 4px 6px;
  height: auto;
  margin-top: 0;
  line-height: 20px;
  border-radius: 15px;
  color: #fff;
  background-color: #3784fa;
}
/**********首页产看更多*****************/
.see-more {
  margin-top: 30px;
  height: 30px;
  text-align: center;
}
.see-more .more-link {
  display: inline-block;
  padding: 6px 10px;
  line-height: 30px;
  border-radius: 6px;
  background-color: #3784fa;
}
.see-more .more-link .text {
  display: inline-block;
  font: 18px;
  vertical-align: middle;
  color: #fff;
}
.see-more .more-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
.see-more .more-icon img {
  display: block;
  width: 100%;
  height: 100%;
}
/**********首页footer*****************/
.pub-footer {
  background-color: #282828;
}
.pub-footer .footer-b {
  width: 1200px;
  margin: 0 auto;
  background-color: #282828;
}
.pub-footer .footer-b .top {
  overflow: hidden;
  height: 130px;
}
.pub-footer .footer-b .top .top-l {
  float: left;
}
.pub-footer .footer-b .top .top-l .left-list {
  line-height: 130px;
  overflow: hidden;
}
.pub-footer .footer-b .top .top-l .list-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.pub-footer .footer-b .top .top-l .link-item .link-icon {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
.pub-footer .footer-b .top .top-l .link-item img {
  display: inline-block;
}
.pub-footer .footer-b .top .top-l .link-item .link-text {
  display: inline-block;
  color: #8a8a8a;
}
.pub-footer .footer-b .top .bot-right {
  float: right;
  line-height: 130px;
}
.pub-footer .footer-b .top .bot-right .link-blog {
  float: right;
}
.pub-footer .footer-b .top .bot-right .link-blog a {
  display: inline-block;
}
.pub-footer .footer-b .top .bot-right .link-blog .blog-img {
  padding: 0 20px;
}
.pub-footer .footer-b .top .bot-right .link-blog .blog-img img {
  display: inline-block;
  width: 100%;
}
.pub-footer .footer-b .bot {
  line-height: 94px;
  height: 95px;
  text-align: center;
  border-top: 1px solid #333;
}
.pub-footer .footer-b .bot .bot-text {
  color: #8a8a8a;
}
/**********视频详情路径*****************/
.page-link-pn {
  margin: 20px 0;
}
.page-link-pn .page-link {
  width: 1200px;
  margin: 0 auto;
}
.page-link-pn .page-link span {
  display: inline-block;
  padding: 0 4px;
  font-size: 14px;
  color: #808080;
}
.page-link-pn .page-link span:last-child {
  color: #3784fa;
}
/*******视频详情 评分弹窗***********/
.star-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star-tc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px 30px;
}
.pj-btn-b {
  padding: 0 40px;
  margin-bottom: 20px;
  text-align: center;
}
.pj-btn-b img {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.pj-btn {
  width: 100%;
  height: 42px;
  line-height: 42px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #feca52;
  color: #ffff;
  cursor: pointer;
}
.stars-b {
  position: relative;
  height: 20px;
  width: 110px;
  margin-right: 40px;
}
.stars-b .stars-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
}
.stars-b .stars-top .stars {
  width: 100%;
}
.stars-b .stars-bot {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
}
.stars-b .img-star {
  display: inline-block;
  width: 110px;
}
.stars-b .stars {
  height: 100%;
  background-size: 110px 20px;
  background-position: left;
  background-repeat: no-repeat;
}
.stars-text .text-con {
  color: #5b5858;
}
/*******充值卡片 ***********/
.charge-list-bx {
  margin-top: 20px;
  padding: 0 176px;
}
.charge-list-bx .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.charge-list-bx .card-list .card-item {
  width: 49%;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2px #3783fa;
}
.charge-list-bx .card-list .card-item .card-det dd {
  line-height: 2;
  color: #3783fa;
}
.charge-list-bx .card-list .card-item .card-det .money-num {
  line-height: 2;
  color: #666666;
}
.charge-list-bx .card-list .card-item .zs-text {
  font-size: 14px;
  line-height: 2;
  color: #ff6d6d;
}
.charge-list-bx .card-list .card-item-b {
  padding: 5px 0;
}
.charge-list-bx .card-list .select {
  background-color: #3783fa;
}
.charge-list-bx .card-list .select .card-det dd {
  color: #fff;
}
.charge-list-bx .card-list .select .card-det .money-num {
  color: #fff;
}
.charge-list-bx .card-list .select .zs-text {
  color: gold;
}
/*******无搜索内容 ***********/
.none-text {
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center;
  color: #808080;
}
/*******分页组件 ***********/
.page-slide-wrap {
  text-align: center;
}
.page-slide-wrap #pageSlide {
  display: inline-block;
}
.page-slide-wrap #pageSlide .layui-laypage-em {
  background-color: #3784fa!important;
}
.page-slide-wrap #pageSlide .layui-laypage a:hover {
  color: #3784fa!important;
}
/*******内容加载文字 ***********/
.loading-bx {
  text-align: center;
}
.loading-bx .loading-text {
  text-align: center;
  font-size: 18px;
  color: #888;
}
