/**********首页 index.html*****************/
#indexWrp .main-screen {
  /**********首页轮播2*****************/
}
#indexWrp .main-screen .screen-b {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
#indexWrp .main-screen .main-screen-b:first-child {
  background-color: #fff;
}
#indexWrp .main-screen .main-screen-b:nth-of-type(2) {
  background-color: #f3f4f8;
}
#indexWrp .main-screen .index-swiper-b #swiper2 {
  position: relative;
}
#indexWrp .main-screen .index-swiper-b .swiper-slide {
  position: relative;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
}
#indexWrp .main-screen .index-swiper-b .slide-img {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 130%;
}
#indexWrp .main-screen .index-swiper-b .img-show {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #e4e4e6;
}
#indexWrp .main-screen .index-swiper-b .des-b {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
#indexWrp .main-screen .index-swiper-b .des-b .des-name {
  padding: 0 10px;
  font-size: 20px;
  line-height: 1.5;
}
#indexWrp .main-screen .index-swiper-b .des-b .des-text {
  padding: 0 10px;
  line-height: 1.2;
  margin-top: 4px;
}
/**********课程中心 center_lesson.html*****************/
#lesWrp .link-b-bar {
  left: 102px;
}
#lesWrp .screen-b {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
#lesWrp .fenlei-list-b {
  user-select: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
#lesWrp .fenlei-list {
  display: inline-block;
}
#lesWrp .fenlei-list .fenlei-item {
  float: left;
  min-width: 92px;
  margin-right: 20px;
  cursor: pointer;
}
#lesWrp .fenlei-list .fenlei-text {
  font-size: 18px;
  padding: 16px 10px;
  border-radius: 8px;
  text-align: center;
  transition: all 200ms ease-in;
}
#lesWrp .fenlei-list .select {
  position: relative;
}
#lesWrp .fenlei-list .select::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 40%;
  height: 2px;
  background-color: #feca52;
}
#lesWrp .fenlei-list-b:first-child {
  padding-bottom: 10px;
}
#lesWrp .fenlei-list-b:first-child .fenlei-list {
  overflow: hidden;
}
#lesWrp .fenlei-list-b:first-child .fenlei-item .fenlei-text {
  color: #808080;
}
#lesWrp .fenlei-list-b:first-child .fenlei-item .select {
  color: #fff;
  background-color: #77adff;
}
#lesWrp .fenlei-list-b:first-child .fenlei-item .select::after {
  content: none;
}
#lesWrp .main-screen-b:nth-of-type(1) .screen-b {
  padding-bottom: 20px;
}
#lesWrp .main-screen-b:nth-of-type(2) {
  background-color: #f3f4f8;
}
/**********名师中心 center_tec.html*****************/
#tecWrp .link-b-bar {
  left: 204px;
}
#tecWrp .main-screen-b:nth-of-type(2) {
  background-color: #f3f4f8;
}
#tecWrp .main-screen-b:nth-of-type(2) .screen-b {
  padding-top: 0px;
}
#tecWrp .screen-b {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
#tecWrp .fenlei-list-b {
  user-select: none;
  text-align: center;
}
#tecWrp .main-screen-b:nth-of-type(1) .screen-b {
  padding: 20px 0;
}
#tecWrp .fenlei-list {
  display: inline-block;
}
#tecWrp .fenlei-list .fenlei-item {
  float: left;
  min-width: 92px;
  margin-right: 20px;
  cursor: pointer;
}
#tecWrp .fenlei-list .fenlei-text {
  font-size: 18px;
  padding: 16px 10px;
  border-radius: 8px;
  text-align: center;
  transition: all 200ms ease-in;
}
#tecWrp .fenlei-list .select {
  position: relative;
}
#tecWrp .fenlei-list .select::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 40%;
  height: 2px;
  background-color: #feca52;
}
#tecWrp .teacher-list-bx {
  overflow: hidden;
}
#tecWrp .teacher-list-bx .teacher-list {
  float: left;
  font-size: 0;
  overflow: hidden;
  text-align: left;
}
#tecWrp .teacher-list-bx .teacher-item {
  float: left;
  width: 25%;
  margin: 0 auto;
  padding: 5px;
}
#tecWrp .teacher-list-bx .teacher-item .con-bx {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
#tecWrp .teacher-list-bx .teacher-item .con-bx .tc-des-b {
  padding: 10px 5px;
}
#tecWrp .teacher-list-bx .teacher-item .con-bx .tc-name {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 24px;
}
#tecWrp .teacher-list-bx .teacher-item .con-bx .tc-des {
  display: inline-block;
  height: 38px;
}
#tecWrp .teacher-list-bx .teacher-item .con-bx .tc-des .des-text {
  height: 38px;
  font-size: 16px;
  line-height: 1.2;
  color: #808080;
}
#tecWrp .teacher-list-bx .teacher-item .tc-pic {
  height: 270px;
}
#tecWrp .teacher-list-bx .teacher-item .tc-pic .pic-show {
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
/**********课程详情 lesson_det.html*****************/
#detLesWrap {
  padding-bottom: 20px;
  background-color: #f3f4f8;
}
#detLesWrap .link-b-bar {
  left: 102px;
}
#detLesWrap .main-screen-b {
  overflow: hidden;
  border-radius: 5px;
}
#detLesWrap .screen-b {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}
#detLesWrap .main-show-lf {
  position: relative;
  float: left;
  margin-right: 20px;
}
#detLesWrap .main-show-lf .play-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  width: 100px;
  overflow: hidden;
  border-radius: 8px;
  display: none;
  cursor: pointer;
}
#detLesWrap .main-show-lf .play-btn img {
  display: block;
  width: 100%;
}
#detLesWrap .main-show-lf .player-bx {
  width: 530px;
  height: 300px;
  border-radius: 5px;
  background-size: cover;
  background-position: 50%;
  background-color: #949496;
}
#detLesWrap .main-show-lf .prevent-play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;
}
#detLesWrap .main-show-lf .prevent-play .btn-bx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#detLesWrap .main-show-lf .prevent-play .ts-text {
  line-height: 4;
  font-size: 18px;
}
#detLesWrap .main-show-lf .prevent-play .btn-b {
  overflow: hidden;
}
#detLesWrap .main-show-lf .prevent-play .join-btn {
  display: inline-block;
  cursor: pointer;
}
#detLesWrap .main-show-lf .prevent-play .join-btn div {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 2;
  color: #fff;
  background-color: #feca52;
}
#detLesWrap .main-show-lf .prevent-play .charge-btn {
  display: inline-block;
  line-height: 1;
  padding: 0 10px;
  cursor: pointer;
}
#detLesWrap .main-show-lf .prevent-play .charge-btn a {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 2;
  color: #fff;
  background-color: #3784fa;
}
#detLesWrap .main-show-rt {
  float: left;
  width: 610px;
}
#detLesWrap .main-show-rt h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
}
#detLesWrap .main-show-rt .des-info {
  margin-bottom: 20px;
}
#detLesWrap .main-show-rt .des-info .info-text {
  height: 70px;
  line-height: 1.5;
  color: #808080;
}
#detLesWrap .main-show-rt .pay-text {
  margin-bottom: 40px;
}
#detLesWrap .main-show-rt .pay-text span {
  font-size: 24px;
  color: #d7243c;
}
#detLesWrap .main-show-rt .btn-bx {
  overflow: hidden;
}
#detLesWrap .main-show-rt .btn-bx .btn-item {
  width: 165px;
  height: 60px;
  margin-right: 10px;
  border-radius: 8px;
  text-align: center;
  line-height: 60px;
  float: left;
  color: #fff;
  cursor: pointer;
}
#detLesWrap .main-show-rt .btn-bx .see {
  background-color: #feca52;
}
#detLesWrap .main-show-rt .btn-bx .ping {
  background-color: #3784fa;
}
#detLesWrap .main-screen-b:nth-of-type(2) {
  margin-top: 20px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .top-tt {
  user-select: none;
  border-bottom: 1px solid #ddd;
}
#detLesWrap .main-screen-b:nth-of-type(2) .top-tt .tt-list-bx {
  line-height: 70px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .top-tt .tt-list {
  overflow: hidden;
}
#detLesWrap .main-screen-b:nth-of-type(2) .top-tt .tt-item {
  position: relative;
  float: left;
  margin-right: 50px;
  cursor: pointer;
}
#detLesWrap .main-screen-b:nth-of-type(2) .top-tt .select::after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 2px;
  background-color: #feca52;
}
#detLesWrap .main-screen-b:nth-of-type(2) .top-tt .item-text {
  font-size: 20px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn {
  padding: 20px 0 36px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .con-bx .text-item p {
  margin-top: 6px;
  text-indent: 2em;
  line-height: 1.5;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .con-bx .text-item p:first-child {
  margin-top: 0;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .lesson-item {
  line-height: 40px;
  cursor: pointer;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .lesson-item .text {
  color: #808080;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .lesson-item .select {
  font-size: 18px;
  font-weight: bold;
  color: #3784fa;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx {
  padding: 0 20px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top {
  line-height: 60px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .avatar-img {
  width: 40px;
  height: 40px;
  vertical-align: text-bottom;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .avatar-img img {
  display: inline-block;
  vertical-align: inherit;
  width: 100%;
  border-radius: 50%;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .avatar-img,
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .user-name,
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .school-name,
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .com-time {
  display: inline-block;
  margin-right: 10px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .user-name {
  font-size: 18px;
  color: #feca52;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .avatar-img,
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .school-name,
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-top .com-time {
  color: #808080;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det {
  overflow: hidden;
  padding: 0 70px;
  width: 30%;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det .stars-b {
  float: left;
  position: relative;
  height: 20px;
  width: 110px;
  margin-right: 40px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det .stars-b .stars-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det .stars-b .stars-top .stars {
  width: 100%;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det .stars-b .stars-bot {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det .stars-b .img-star {
  display: inline-block;
  width: 110px;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det .stars-b .stars {
  height: 100%;
  background-size: 110px 20px;
  background-position: left;
  background-repeat: no-repeat;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det .stars-text {
  float: left;
}
#detLesWrap .main-screen-b:nth-of-type(2) .bot-pn .ping-bx .ping-det .stars-text .text-con {
  color: #5b5858;
}
.video-show-bx {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.6);
}
.video-show-bx .close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 9999;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #808080;
  cursor: pointer;
}
.video-show-bx .close-btn .text {
  padding: 0 15px;
  font-size: 18px;
  color: #fff;
}
.video-show-bx .palyer-wrap {
  width: 100%;
  height: 100%;
}
.layui-layer-btn .layui-layer-btn0 {
  border-color: #3784fa !important;
  background-color: #3784fa !important;
}
/**********充值 charge.html*****************/
#userWrap {
  padding-bottom: 20px;
  background-color: #f3f4f8;
}
#userWrap .link-b-bar {
  left: 204px;
}
#userWrap .main-screen-b {
  overflow: hidden;
  border-radius: 5px;
}
#userWrap .screen-b {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
#userWrap .cg-lf {
  float: left;
  width: 230px;
}
#userWrap .cg-lf .lf-ls-tp {
  padding: 40px;
  text-align: center;
  background-color: #fff;
}
#userWrap .cg-lf .lf-ls-tp .avatar-bx {
  width: 86px;
  height: 86px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}
#userWrap .cg-lf .lf-ls-tp .avatar-bx img {
  display: block;
  width: 100%;
  height: 100%;
}
#userWrap .cg-lf .lf-ls-tp .usrename-bx .name-text {
  font-size: 18px;
  line-height: 2;
}
#userWrap .cg-lf .rt-ls-bt {
  margin-top: 20px;
  background-color: #fff;
}
#userWrap .cg-lf .rt-ls-bt .list-item {
  padding: 0 20px;
  line-height: 50px;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
}
#userWrap .cg-lf .rt-ls-bt .list-item .text {
  position: relative;
}
#userWrap .cg-lf .rt-ls-bt .list-item .select::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 70%;
  background-color: #feca52;
}
#userWrap .cg-rt {
  width: 910px;
  float: right;
}
#userWrap .cg-rt .rt-con .rt-tp {
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  background-color: #fff;
}
#userWrap .cg-rt .rt-con .rt-tp .tp-text {
  font-size: 18px;
}
#userWrap .cg-rt .rt-con .rt-bt {
  margin-top: 20px;
  padding: 0 20px 20px;
  background-color: #fff;
}
#userWrap .cg-rt .rt-con .rt-bt .tt-bx {
  line-height: 40px;
}
#userWrap .cg-rt .rt-con .rt-bt .num-show {
  text-align: center;
  position: relative;
}
#userWrap .cg-rt .rt-con .rt-bt .num-show .num-bx {
  position: relative;
  display: inline-block;
}
#userWrap .cg-rt .rt-con .rt-bt .num-show .num-text {
  height: 0;
  padding: 0 40px;
  padding-bottom: calc(100% - 16px);
  border-radius: 50%;
  border: 8px solid rgba(240, 212, 89, 0.685);
  font-size: 32px;
  color: transparent;
}
#userWrap .cg-rt .rt-con .rt-bt .num-show .show-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #3783fa;
}
#userWrap .cg-rt .rt-con .rt-bt .pm-show {
  padding: 13px 0;
  text-align: center;
  font-size: 30px;
}
#userWrap .cg-rt .rt-con .rt-bt .pm-show em {
  margin: 0 4px;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  color: gold;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-tp,
#userWrap .cg-rt .rt-con:nth-of-type(3) .rt-tp {
  padding: 0 10px;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-tp .tp-text,
#userWrap .cg-rt .rt-con:nth-of-type(3) .rt-tp .tp-text {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-tp .select:after,
#userWrap .cg-rt .rt-con:nth-of-type(3) .rt-tp .select:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 3px;
  background-color: gold;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .num-show .num-text,
#userWrap .cg-rt .rt-con:nth-of-type(3) .num-show .num-text {
  border-color: #94bfff !important;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .num-show .show-text,
#userWrap .cg-rt .rt-con:nth-of-type(3) .num-show .show-text {
  color: #feca52 !important;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .red-warning,
#userWrap .cg-rt .rt-con:nth-of-type(3) .red-warning {
  padding: 0 20px;
  color: red;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .btn-bx,
#userWrap .cg-rt .rt-con:nth-of-type(3) .btn-bx {
  margin-left: 440px;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .btn-bx input,
#userWrap .cg-rt .rt-con:nth-of-type(3) .btn-bx input {
  padding: 0 20px;
  line-height: 2;
  border: none;
  outline: none;
  background-color: #3783fa;
  color: #fff;
  cursor: pointer;
}
#userWrap .cg-rt .rt-con:nth-of-type(4) .main-video-b .video-list-b {
  padding-top: 10px;
  background-color: #fff;
}
#userWrap .cg-rt .rt-con:nth-of-type(4) .main-video-b .video-item {
  width: 33.33% !important;
}
#userWrap .cg-rt .rt-con:nth-of-type(4) .main-video-b .video-link {
  margin-bottom: 10px;
  background-color: #f3f4f8;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx {
  margin-top: 20px;
  min-height: 385px;
  background-color: #fff;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .list-child {
  padding: 50px 80px;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .list-child .child-item {
  padding-left: 20px;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .list-child .select .item-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: gold;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .list-child .child-item:hover {
  background-color: #e3e6e9;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .list-child .item-btn {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid gold;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .list-child .name-text {
  margin-right: 40px;
  font-size: 18px;
  vertical-align: middle;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .list-child .class-text {
  font-size: 18px;
  vertical-align: middle;
  color: #808080;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .btn-bx {
  margin-left: 500px;
}
#userWrap .cg-rt .rt-con:nth-of-type(2) .rt-bx .btn-bx input {
  padding: 0 20px;
  line-height: 2;
  border: none;
  outline: none;
  background-color: #3783fa;
  color: #fff;
  cursor: pointer;
}
/**********系统通知 det_msg.html*****************/
#searchWrap {
  padding-bottom: 20px;
  background-color: #f3f4f8;
}
#searchWrap .link-b-bar {
  display: none;
}
#searchWrap .main-screen-b {
  overflow: hidden;
  border-radius: 5px;
}
#searchWrap .screen-b {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
#searchWrap .search-pn {
  background-color: #fff;
}
#searchWrap .search-pn .search-tt {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 0 10px;
}
#searchWrap .search-pn .search-tt .tt-txt {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  cursor: pointer;
}
#searchWrap .search-pn .search-tt .select:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 3px;
  background-color: gold;
}
#searchWrap .search-pn .search-item {
  padding: 10px 20px;
}
#searchWrap .search-pn .msg-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  vertical-align: text-top;
}
#searchWrap .search-pn .msg-icon img {
  display: block;
  width: 100%;
  height: 100%;
}
#searchWrap .search-pn .msg-con {
  display: inline-block;
  width: 80%;
  line-height: 1.2;
  font-size: 18px;
  vertical-align: text-top;
  color: #808080;
}
/**********搜索课程 search.html*****************/
#msgWrap {
  padding-bottom: 20px;
  background-color: #f3f4f8;
}
#msgWrap .link-b-bar {
  display: none;
}
#msgWrap .main-screen-b {
  overflow: hidden;
  border-radius: 5px;
}
#msgWrap .screen-b {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
#msgWrap .msg-pn {
  background-color: #fff;
}
#msgWrap .msg-pn .msg-tt {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 0 10px;
}
#msgWrap .msg-pn .msg-tt .tt-txt {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  cursor: pointer;
}
#msgWrap .msg-pn .msg-tt .select:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 3px;
  background-color: gold;
}
#msgWrap .msg-pn .msg-item {
  padding: 10px 20px;
}
#msgWrap .msg-pn .msg-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  vertical-align: text-top;
}
#msgWrap .msg-pn .msg-icon img {
  display: block;
  width: 100%;
  height: 100%;
}
#msgWrap .msg-pn .msg-con {
  display: inline-block;
  width: 80%;
  line-height: 1.2;
  font-size: 18px;
  vertical-align: text-top;
  color: #808080;
}
