/**********首页 index.html*****************/
#indexWrp .main-screen {
  /**********首页轮播2*****************/
}
#indexWrp .main-screen .screen-b {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
#indexWrp .main-screen .main-screen-b:first-child {
  background-color: #fff;
}
#indexWrp .main-screen .main-screen-b:nth-of-type(2) {
  background-color: #f3f4f8;
}
#indexWrp .main-screen .index-swiper-b #swiper2 {
  position: relative;
}
#indexWrp .main-screen .index-swiper-b .swiper-slide {
  position: relative;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
}
#indexWrp .main-screen .index-swiper-b .slide-img {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 130%;
}
#indexWrp .main-screen .index-swiper-b .img-show {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #e4e4e6;
}
#indexWrp .main-screen .index-swiper-b .des-b {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
#indexWrp .main-screen .index-swiper-b .des-b .des-name {
  padding: 0 10px;
  font-size: 20px;
  line-height: 1.5;
}
#indexWrp .main-screen .index-swiper-b .des-b .des-text {
  padding: 0 10px;
  line-height: 1.2;
  margin-top: 4px;
}
/**********课程中心 center_lesson.html*****************/
#lesWrp .link-b-bar {
  left: 102px;
}
#lesWrp .screen-b {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
#lesWrp .fenlei-list-b {
  user-select: none;
}
#lesWrp .fenlei-list {
  display: inline-block;
}
#lesWrp .fenlei-list .fenlei-item {
  float: left;
  min-width: 92px;
  margin-right: 20px;
  cursor: pointer;
}
#lesWrp .fenlei-list .fenlei-text {
  font-size: 18px;
  padding: 16px 10px;
  border-radius: 8px;
  text-align: center;
  transition: all 200ms ease-in;
}
#lesWrp .fenlei-list .select {
  position: relative;
}
#lesWrp .fenlei-list .select::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 40%;
  height: 2px;
  background-color: #feca52;
}
#lesWrp .fenlei-list-b:first-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
#lesWrp .fenlei-list-b:first-child .fenlei-list {
  overflow: hidden;
}
#lesWrp .fenlei-list-b:first-child .fenlei-item .fenlei-text {
  color: #808080;
}
#lesWrp .fenlei-list-b:first-child .fenlei-item .select {
  color: #fff;
  background-color: #77adff;
}
#lesWrp .fenlei-list-b:first-child .fenlei-item .select::after {
  content: none;
}
#lesWrp .main-screen-b:nth-of-type(1) .screen-b {
  padding-bottom: 20px;
}
#lesWrp .main-screen-b:nth-of-type(2) {
  background-color: #f3f4f8;
}
/**********名师中心 center_tec.html*****************/
#tecWrp .link-b-bar {
  left: 204px;
}
#tecWrp .main-screen-b:nth-of-type(2) {
  background-color: #f3f4f8;
}
#tecWrp .main-screen-b:nth-of-type(2) .screen-b {
  padding-top: 0px;
}
#tecWrp .screen-b {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
#tecWrp .fenlei-list-b {
  user-select: none;
  text-align: center;
}
#tecWrp .main-screen-b:nth-of-type(1) .screen-b {
  padding: 20px 0;
}
#tecWrp .fenlei-list {
  display: inline-block;
}
#tecWrp .fenlei-list .fenlei-item {
  float: left;
  min-width: 92px;
  margin-right: 20px;
  cursor: pointer;
}
#tecWrp .fenlei-list .fenlei-text {
  font-size: 18px;
  padding: 16px 10px;
  border-radius: 8px;
  text-align: center;
  transition: all 200ms ease-in;
}
#tecWrp .fenlei-list .select {
  position: relative;
}
#tecWrp .fenlei-list .select::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 40%;
  height: 2px;
  background-color: #feca52;
}
